@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

/* use default dark so editor can recognize color */
@theme {
    --color-text: #f9f8ff;
    --color-background: #07080d;
    --color-primary: #b5c8ff;
    --color-secondary: #959ca3;
    --color-accent: #71cd71;
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

/* @theme {
    --color-text: var(--text);
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
}

:root {
    --text: #0e101b;
    --background: #f2f3f8;
    --primary: #2f3b5b;
    --secondary: #c8bf92;
    --accent: #509b50;

    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #e4e6f1;
        --background: #07080d;
        --primary: #a4b0d0;
        --secondary: #6a6537;
        --accent: #65af65;
    }
} */

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}
.animate-shake {
    animation: shake 0.2s ease-in-out 0s 2;
}

main {
    isolation: isolate;
}
